html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
   margin-right: 0.125rem
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
   margin-left: 0.125rem
}

.myAppDemoWT .myCustomText {
   display: inline-block;
   font-weight: bold;
}/* Enter your custom styles here */

/*.sapMTB{
	background : #3f5161 !important;
}*/

.sapMTBHeader-CTX{
	background : #eff4f9 !important;
}

.sapMBtnTransparent>.sapMBtnIcon{
	color : #cae4fb !important;
}

/*.sapUiUfdShell .sapUiUfdShellBrand {
    background: #496b8a !important;
}

.sapUiUfdShellHead{
	height: 39px !important;
}
.sapUiUfdShellHeader {
    height: 3rem;
    padding: 0 0rem !important;
    padding-top: 0px;
    padding-right: 1rem !important;
    padding-bottom: 0px;
    padding-left: 1rem !important;
    background : #496b8a !important;
}*/

.sapNocolor{
	background : #fafafa !important;
}

.sapUiTableCell .sapMBtnInner{
	border: none !important;
}

.sapUiTableCell .sapMInputBaseContentWrapper{
	border: none !important;
}

.sapUiTableCell .sapMInputBaseInner {
	background: white !important;
}

